@model List<GameUniverse.Models.Game>

@{
    ViewData["Title"] = "Каталог Ігор";
}

<h1 class="text-center mt-3">Каталог Ігор</h1>

@if (Context.Session.GetString("IsAdmin") == "true")
{
    <div class="text-center mb-3">
        <a href="@Url.Action("AddGame", "Catalog")" class="btn btn-primary">Додати Гру</a>
    </div>
}

<div class="container mt-4">
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="@game.ImageUrl" class="card-img-top" alt="@game.Title">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text">@game.Description</p>
                        <p><strong>Жанр:</strong> @game.Genre</p>
                        <p><strong>Розробник:</strong> @game.Developer</p>
                        <p><strong>Дата виходу:</strong> @game.ReleaseDate.ToShortDateString()</p>
                        <p><strong>Платформа:</strong> @game.Platform</p>
                        <a href="@Url.Action("Details", "Catalog", new { id = game.Id })" class="btn btn-primary">Детальніше</a>

                        @if (Context.Session.GetString("IsAdmin") == "true")
                        {
                            <a href="@Url.Action("EditGame", "Catalog", new { id = game.Id })" class="btn btn-secondary mt-2">Редагувати</a>
                            <form method="post" action="@Url.Action("DeleteGame", "Catalog", new { id = game.Id })" class="d-inline">
                                <button type="submit" class="btn btn-danger mt-2">Видалити</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
