@model List<GameUniverse.Models.Game>

@{
    ViewData["Title"] = "Каталог Ігор";
    var wishlist = ViewBag.Wishlist as List<int>;
}

<h1 class="text-center mt-3">Каталог Ігор</h1>

<div class="container mt-4">
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="@game.ImageUrl" class="card-img-top" alt="@game.Title">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text">@game.Description</p>
                        <p><strong>Жанр:</strong> @game.Genre</p>
                        <p><strong>Розробник:</strong> @game.Developer</p>
                        <p><strong>Дата виходу:</strong> @game.ReleaseDate.ToShortDateString()</p>
                        <a href="@Url.Action("Details", "Catalog", new { id = game.Id })" class="btn btn-primary">Детальніше</a>
                       @*  @if (Context.Session.GetString("IsAdmin") != "true")
                        {
                            @if (wishlist != null && wishlist.Contains(game.Id))
                            {
                                <a href="@Url.Action("Remove", "Wishlist", new { gameId = game.Id })" class="btn btn-danger mt-2">Видалити з бажаного</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Add", "Wishlist", new { gameId = game.Id })" class="btn btn-success mt-2">Додати у список бажань</a>
                            }
                        } *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
